<!DOCTYPE html/>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="css/styles.css"    rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
    <header>
        
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Libre" />
       </div>
       <label>Buscar</label>
       <input type="search" />
       <p>Comprá en cuotas y sin tarjeta de crédito</p>
       <nav>
        <ul>
            <li><a href="#" >Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a><a></a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
            <li><a href="#">Creá tu cuenta></a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
       </nav>
    </header>
    <main>
        <h1>Mercado Liebre</h1>
        <img src="\images\img-home-banner.jpg"
        
        <section class="Basado_en_tu_última_visita">
<h2>Basado en tu ultima vista</h2>
        <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
        <p class="precio">$6.770</p>
        <p class="descuento">40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        </article>

        <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro">
        <p class="precio">$230.000</p>
        <p class="descuento">20% OFF</p>
        <h3>Macbook Pro 2019</h3>
        </article>

        <article>
        <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen de samsung">
        <p class="precio">$70.500</p>
        <p class="descuento">10% OFF</p>
        <h3>Samsung Galaxy S10</h3>
             </article>

        <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de tv samsung">
        <p class="precio">$23.200</p>
        <p class="descuento">5% OFF</p>
        <h3>tv samsung 43"</h3>
        </article>
        
    </section>
    
    <section class="Sección de Ofertas">
<h2>Sección de ofertas</h2>
        
    <article>
        <img src="/images/img-cafetera-moulinex.jpg"></section> alt="imagen de la cafetera">
        <p class="precio">$6.770</p>
        <p class="descuento">40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <h3>Macbook Pro 2019</h3>
            </article>

            <article>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="imagen de samsung">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
                     </article>

    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de tv samsung">
        <p class="precio">$23.200</p>
        <p class="descuento">5% OFF</p>
        <h3>tv samsung 43"</h3>
        </article>

    </section>

    </main>
    
    <footer>
        <div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro! 
        </div>
        
        <div>
        <h3>Envío gratis desde $ 2.500</h3>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
        </div>

        <div>
        <h3>eguridad, de principio a fin</h3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
        </div>

        <div>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
        
    </footer>



        </div>
    </footer>
    </body>
</html>