<form action="/" metod="post">
    <label>Nombre y apellido<input type="text" name="nombre"></label>

    <label>Nombre de usuari@<input type="text" name="usuario"></label>

    <label>Email<input type="text" name="email"></label>

    <label>Fecha de nacimiento<input type="text" name="nacimiento"></label>

    <label>Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)<input type="text" name="nombre"></label>

    <label>Moda<input type="text" name="nombre"></label>

    <label>Hogar<input type="text" name="nombre"></label>

    <label>Juguetería<input type="text" name="nombre"></label>

    <label>Vida sana<input type="text" name="nombre"></label>

    <label>Foto de usuario<input type="text" name="nombre"></label>

    <label>Contraseña<input type="text" name="nombre"></label
        >
    <label>Confirmar contraseña<input type="text" name="nombre"></label>

    <label>Botón de enviar que nos lleve a la página principal<input type="text" name="nombre"></label>

    <label>Botón de borrar todos los datos del formulario<input type="text" name="nombre"></label>

</form>